.addCategory { 
    background: url('/src/components/Images/cart-Grocery.jpg') center center/cover no-repeat;
    background-size: cover;
    min-height: 600px;
    border-radius: 0 10px 10px 0;
    padding: 0;
    margin-top: 0.5%;
    
  }
  .category-dashboard { 
    background: url('/src/components/Images/category.jpg') center center/cover no-repeat;
    background-size: cover;
    min-height: 600px;
    border-radius: 0 10px 10px 0;
    padding: 0;
    margin-top: 0.5%;
    
  }